{% extends 'base.html'%}



{% block alerts %}

    <div class="container">
        <div class="row">
            {% for registro in mural %}
                <div class="col-md-6" style="padding: 10px;">
                    <div class="alert alert-danger" role="alert" style="box-shadow: #dad2d2 5px 5px; text-align: center">
                        <h3>{{ registro.titulo }}</h3>
                        <hr>
                        <p style="text-align: justify;">{{ registro.mensagem }}</p>
                    </div>
                </div>
            {% endfor%}
        </div>
    </div>

{% endblock %}


{% block content %}
<!-- Editable table -->
<div class="card">
  <div class="card-body row" style = "padding: 0.80rem;text-align: center;">
    <div class="col-md-12">
        <h4>para utilizar o sistema é necessario bater o ponto de entrada!</h4>
    </div>
   
    <div class="col-md-7">
        <form action="/baterPonto">
            <button class="btn btn-lg btn-info" type="submit" style="background-color: #17b888;border-color:#17b888;float: right;margin-bottom: 10px;">
                <span>Bater Ponto</span>
            </button>
        </form>
    </div>
  </div>
</div>
<!-- Editable table -->
{% endblock %}


{% block js %} <!-- #bloco de conteudo -->
<script src="{{ url_for('static', filename='js/angular/empty.js') }}"></script>
{% endblock %}
