{% extends 'base.html'%}

{% block css %}
<style>
  .btn-green {
    color: #fefeff;
    background-color: #13b715;
    border-color: #13b715;
}
.btn-silver {
    color: #ffffff;
    background-color: #adb5bd;
    border-color: #adb5bd;
}
</style>
{% endblock %}


{% block content %}
<!-- Editable table -->
<div class="card">
    <nav class="navbar navbar-light bg-dark justify-content-between" style="color: aliceblue;">
      <a class="navbar-brand" style="color: aliceblue;">Funcionários Cadastrados</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar no Sistema" aria-label="Search" ng-model="filtro">

      </form>
    </nav>

  </div>

  <table class="table table-hover table-hover">
    <thead class="thead-dark"></thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Função</th>
        <th scope="col">Descanso</th>
        <th scope="col">Entrada</th>
        <th scope="col">Ação</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in funcionarios | filter : filtro">
        <td>[{x.nome}]</td>
        <td>[{x.func}]</td>
        <td>[{x.dia_folga}]</td>
        <td>[{x.entrada}]</td>
        <td>
          <span class="table-remove"><button type="button" ng-click="seleciona_func(x)" class="btn btn-danger btn-rounded btn-sm my-0">Editar</button></span>  
        </td>
        
        <td ng-if="x.status">
          <span class="table-remove"><button type="button" ng-click="status(x,false)" class="btn btn-green btn-rounded btn-sm my-0">desativar</button></span>  
        </td>

        <td ng-if="!x.status">
          <span class="table-remove"><button type="button" ng-click="status(x,true)" class="btn btn-silver btn-rounded btn-sm my-0">ativar</button></span>  
        </td>
    </tr>
      
    </tbody>
  </table>


{% endblock %}

{% block modal %} 

<div class="modal fade" id="msgbox" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true" aria-labelledby="mediumModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="mediumModalLabel">[{msgbox.title}]</h5>
          </div>
          <div class="modal-body">
              <div class="card-body" style="padding: 0px;">
                [{msgbox.message}]
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" >OK</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true" aria-labelledby="mediumModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="mediumModalLabel">Atualizar Dados de Funcionários</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="card-body" style="padding: 0px;">
                         
                  <ul class="nav nav-tabs" id="myTab" role="tablist" >
                  </ul>
                  <div class="tab-content pl-3 p-1" id="myTabContent">
                      <div class="tab-pane fade show active" id="home" role="tabpanel">
                          <div>
                          
                            <div class="p-3 mb-2 bg-dark text-white" style="text-align: center;">Atualizar Dados de Funcionário</div>
                            <form>
                                <div class="form-row">
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault01">Nome</label>
                                    <input type="text" class="form-control" ng-model="funcselected.nome" placeholder="Nome" required>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Documento</label>
                                    <input type="text" class="form-control" ng-model="funcselected.documento" placeholder="Documento" required>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Data admissão</label>
                                    <input type="text" class="form-control" ng-model="funcselected.data_admissao" placeholder="Data admissão" required>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Função</label>
                                    <input type="text" class="form-control" ng-model="funcselected.func"  placeholder="Função" required>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Entrada</label>
                                    <input type="text" class="form-control" ng-model="funcselected.entrada"  placeholder="Entrada" required>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Saída</label>
                                    <input type="text" class="form-control" ng-model="funcselected.saida"  placeholder="Saída"  required>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Descanso</label>
                                    <input type="text" class="form-control" ng-model="funcselected.dia_folga"  placeholder="Folga"  required>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Telefone</label>
                                    <input type="text" class="form-control" ng-model="funcselected.endereco"  placeholder="XXXX-XXXX "  required>
                                  </div>
                                
                                <div class="form-row">
                                  <div class="col-md-6 mb-3">
                                    <label for="validationDefault03">Usuário</label>
                                    <input type="text" class="form-control" ng-model="funcselected.username"  placeholder="Usuário" required>
                                  </div>
                                  <div class="col-md-3 mb-3">
                                    <label for="validationDefault04">Senha</label>
                                    <input type="text" class="form-control" ng-model="funcselected.senha" ng-init="campos.senha= '' "  placeholder="Senha" required>
                                  </div>
                                  <div class="col-md-3 mb-3">
                                    <label for="validationDefault05">Senha</label>
                                    <input type="text" class="form-control" ng-model="funcselected.senha2" ng-init=" campos.senha2 = ''"  placeholder="Repita" required>
                                  </div>
                                </div>
                               
                                </div>
                        
                              </form>
          
                              <div class="row" ng-hide="flag_window">
                                  <div class="col-12">
                                      <button ng-click="update()" class="btn btn-lg btn-info btn-block" style="background-color: #17b888;border-color:#17b888">
                                          <span>Salva Alterações</span>
                                      </button>
                                  </div>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <div class="alert" ng-class="classmsg" role="alert" ng-init="mensagem=null" ng-show="mensagem" ng-bind-html="mensagem">
              </div>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
          </div>
      </div>
  </div>
</div>





{% endblock %}



{% block js %} <!-- #bloco de conteudo -->
<script src="{{ url_for('static', filename='js/angular/editaFun.js') }}"></script>
{% endblock %}
